<%- include('header'); -%>

<div style="margin-bottom:60px;">
<h2> Go ahead and post your own blog right now !!! </h2>
<a class="nav-link active  btn btn-warning" href="/submit" role="button">Compose</a>
</div>


<div style="width:100%">
<% usersWithMessage.forEach(function(id){ %>

   
       
   <% id.blog.forEach(function(element){%>
   <div class="message2">

   <!--<form action="/posts/<%= element.title %>" method="post">-->
     
         <h1 id="h1"><%=element.title %></h1>
         <h3 id="h3"><%=element.date %></h3>
         <p style="color:white"><%=element.message.substring(0,150) %>  
         <a href="/posts/<%= element.title %>" > read more </a>
         </p>


         <!--<input type="hidden" name="uname" value=<%= id.profile.uname %>>
          <input type="hidden" name="fb" value=<%= id.profile.fb %>>
         <input type="hidden" name="insta" value=<%= id.profile.insta %>>
         <input id="sub" type="submit" class="nav-link" value="Click to read full blog">
       </form> -->
       

         <h2 id="h2">By: <%= id.profile.uname %> </h2>
       
        

        </div> 
   <%})%>
     

<%})%>

  </div>


<%- include('footer'); -%>