<%- include('header'); -%>

<div style="width:100%">
<% usersWithMessage.forEach(function(id){ %>

   
       
   <% id.blog.forEach(function(element){%>
   <div class="message2">

         <h1 id="h1"><%=element.title %></h1>
         <h3 id="h3"><%=element.date %></h3>
         <p style="color:white"><%=element.message.substring(0,150) %>  
         <a href="/posts/<%= element.title %>" > read more in new window </a>
         </p>
          <h2 id="h2">By: <%= id.profile.uname %> </h2>

        </div> 
    <%})%>
  <%})%>
</div>

<%- include('footer'); -%>