
<!DOCTYPE html>
<html>
<head>
  <title>MyBlog</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
   <!--font electrolize-->
  <link href="https://fonts.googleapis.com/css?family=Electrolize&display=swap" rel="stylesheet">
    <!-- font: Monoton,Tinos,AL Messiri-->
  <link href="https://fonts.googleapis.com/css?family=El+Messiri|Monoton|Tinos&display=swap" rel="stylesheet">

  <style type="text/css">
  	div{
      width:95%;
  		padding:40px 30px;
  		background-color: #ffc7c7;
      margin:auto;
  		margin-top: 20px;
      border-radius: 15px;
  		position: relative;
      border-top:8px solid purple;

    }
  	div h1{
      color:purple;
      font-family: 'El Messiri';
  	}
  	div p{
  		font-size:18px;
  		color:black;
  		font-family: 'Electrolize', sans-serif;
      line-height: 30px;
  	}
  	div h3{
  		color:red;
  	}
  	.btn-warning{
    
     margin-bottom: 8px;
  	}
    .btn-light{
      
      /*width:70px;
       margin-left:80%;
       margin-top: 10px;*/
    }

 section{
  text-align: center;
  width:auto;
  float: right;
  
 }

  	h1{
       
  		color:purple;
  		margin:30px auto;
  		text-align: center;
  		font-family: 'El Messiri';
  	}
  </style>
</head>
<body>
<%  getBlog.forEach(function(element){  %>

<div >
    <section>
    <form action="/settings/myblog/delete" method="post">
      <input type="hidden" name="blog_id" value= <%= element.blog_id %> >
      <input type="submit" name="submit" class="btn btn-warning" value="Delete" >
    </form>

    <form action="/settings/myblog/update" method="post">
      <input type="hidden" name="blog_id" value= <%= element.blog_id %> >
      <input type="submit" name="submit" class="btn btn-light" value="Edit" >
    </form>
  </section>

	<h1 > <%= element.title  %>  </h1>
	<h3 > <%= element.date   %>  </h3>
    <p>  <%= element.message  %> </p>
    
</div>

<% }) %>

</body>
</html>







 

